/dts-v1/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>

#include "zynq-7000.dtsi"

/ {
	model = "TRX Brass";
	compatible = "xlnx,zynq-7000";

	chosen {
		bootargs = "earlycon";
		stdout-path = "serial0:115200n8";
	};

	aliases {
		ethernet0 = &gem0;
		serial0 = &uart0;
		i2c0 = &i2c0;
		spi0 = &qspi;
		mmc0 = &sdhci0;
		mmc1 = &sdhci1;
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x40000000>;
	};

	amba_pl: amba_pl {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "simple-bus";
		ranges ;

		framebuffer {
			compatible = "r1cbu,vdmafb";
			reg = <0x43000000 0x10000>;
			width = <800>;
			height = <480>;
		};

		misc_clk_0: misc_clk_0 {
			#clock-cells = <0>;
			clock-frequency = <100000000>;
			compatible = "fixed-clock";
		};

		i2s_clk: i2s_clk {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <12228000>;
			clock-output-names = "i2s_clk";
		};
    
		axi_gpio: gpio@41200000 {
			#gpio-cells = <2>;
			#interrupt-cells = <2>;
			clock-names = "s_axi_aclk";
			clocks = <&clkc 15>;
			compatible = "xlnx,axi-gpio-2.0", "xlnx,xps-gpio-1.00.a";
			gpio-controller ;
			interrupt-controller ;
			interrupt-names = "ip2intc_irpt";
			interrupt-parent = <&intc>;
			interrupts = <0 29 4>;
			reg = <0x41200000 0x10000>;
			xlnx,all-inputs = <0x0>;
			xlnx,all-inputs-2 = <0x0>;
			xlnx,all-outputs = <0x0>;
			xlnx,all-outputs-2 = <0x0>;
			xlnx,dout-default = <0x00000000>;
			xlnx,dout-default-2 = <0x00000000>;
			xlnx,gpio-width = <0x17>;
			xlnx,gpio2-width = <0x20>;
			xlnx,interrupt-present = <0x1>;
			xlnx,is-dual = <0x0>;
			xlnx,tri-default = <0xFFFFFFFF>;
			xlnx,tri-default-2 = <0xFFFFFFFF>;
		};

		axi_i2s: i2s@43c00000 {
			reg = <0x43C00000 0x10000>;
			#sound-dai-cells = <0>;
			compatible = "adi,axi-i2s-1.00.a";
			clocks = <&clkc 15>, <&i2s_clk>;
			clock-names = "axi", "ref";
			dmas = <&dmac_s 1>, <&dmac_s 0>;
			dma-names = "tx", "rx";
		};

		sound {
			compatible = "simple-audio-card";
			simple-audio-card,name = "Brass-Sound-Card";
			simple-audio-card,format = "i2s";
			simple-audio-card,bitclock-master = <&dailink0_master>;
			simple-audio-card,frame-master = <&dailink0_master>;

			dailink0_master: simple-audio-card,cpu {
				clocks = <&i2s_clk>;
				sound-dai = <&axi_i2s>;
			};

			simple-audio-card,codec {
				clocks = <&i2s_clk>;
				sound-dai = <&codec>;
			};
		};
    
	};

	usb_phy0: phy0@e0002000 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};

	cpus {
		cpu@0 {
			operating-points = <766666 1000000 383333 1000000>;
		};
	};

	rotary@0 {
		compatible = "rotary-encoder";
		gpios = <&axi_gpio 7 0>, <&axi_gpio 8 0>;
		linux,axis = <0>;
		rotary-encoder,encoding = "gray";
		rotary-encoder,relative-axis;
	};

	rotary@1 {
		compatible = "rotary-encoder";
		gpios = <&axi_gpio 9 0>, <&axi_gpio 10 1>;
		linux,axis = <0>;
		rotary-encoder,encoding = "gray";
		rotary-encoder,relative-axis;
	};

	rotary@2 {
		compatible = "rotary-encoder";
		gpios = <&gpio0 12 0>, <&gpio0 13 0>;
		linux,axis = <0>;
		rotary-encoder,encoding = "gray";
		rotary-encoder,relative-axis;
	};
};

&gem0 {
	enet-reset = <&gpio0 7 0>;
	phy-mode = "rgmii-id";
	status = "okay";
	xlnx,ptp-enet-clock = <0x79dbbf3>;
	local-mac-address = [46 28 FA DA 2F 4B];
};

&gpio0 {
	emio-gpio-width = <64>;
	gpio-mask-high = <0x0>;
	gpio-mask-low = <0x5600>;
};

&i2c0 {
	clock-frequency = <400000>;
	status = "okay";

	rtc@68 {
	    compatible = "maxim,ds3231";
	    reg = <0x68>;
	};

	mcp4725@60 {
		compatible = "microchip,mcp4725";
		reg = <0x60>;
	};

	ads1015@49 {
		compatible = "ti,ads1015";
		reg = <0x49>;
		#address-cells = <1>;
		#size-cells = <0>;

		channel@0 {
			reg = <4>;
			ti,datarate = <0>;
		};

		channel@1 {
			reg = <5>;
			ti,datarate = <0>;
		};

		channel@2 {
			reg = <6>;
			ti,datarate = <0>;
		};

		channel@3 {
			reg = <7>;
			ti,datarate = <0>;
		};
	};

	codec: nau8822@1a {
		compatible = "nuvoton,nau8822";
		#sound-dai-cells = <0>;
		reg = <0x1a>;
	};

	keypad@34 {
		compatible = "ti,tca8418";
		reg = <0x34>;
		interrupt-parent = <&gpio0>;
		interrupts = <10 IRQ_TYPE_EDGE_FALLING>;
		linux,keymap = < 
			MATRIX_KEY(0x03, 0x02, BTN_NORTH)

			MATRIX_KEY(0x03, 0x03, KEY_1)
			MATRIX_KEY(0x03, 0x01, KEY_2)
			MATRIX_KEY(0x03, 0x00, KEY_3)

			MATRIX_KEY(0x00, 0x03, BTN_SOUTH)

			MATRIX_KEY(0x00, 0x01, KEY_F1)
			MATRIX_KEY(0x00, 0x02, KEY_F2)
			MATRIX_KEY(0x02, 0x00, KEY_F3)
			MATRIX_KEY(0x02, 0x01, KEY_F4)
			MATRIX_KEY(0x02, 0x02, KEY_F5)
			MATRIX_KEY(0x02, 0x03, KEY_F6)

			MATRIX_KEY(0x01, 0x00, KEY_A)
			MATRIX_KEY(0x01, 0x01, KEY_B)
			MATRIX_KEY(0x01, 0x02, KEY_C)
			MATRIX_KEY(0x01, 0x03, KEY_D)
		>;
		keypad,num-rows = <4>;
		keypad,num-columns = <4>;
	};
};

&intc {
	num_cpus = <2>;
	num_interrupts = <96>;
	status = "okay";
};

&qspi {
	is-dual = <0>;
	num-cs = <1>;
	spi-rx-bus-width = <4>;
	spi-tx-bus-width = <4>;
	status = "disabled";
};

&sdhci0 {
	status = "okay";
	xlnx,has-cd = <0x0>;
	xlnx,has-power = <0x0>;
	xlnx,has-wp = <0x0>;
};

&sdhci1 {
	status = "okay";
	xlnx,has-cd = <0x0>;
	xlnx,has-power = <0x0>;
	xlnx,has-wp = <0x0>;
};

&uart0 {
	cts-override ;
	device_type = "serial";
	port-number = <0>;
	status = "okay";
};

&usb0 {
	status = "okay";
	usb-reset = <&gpio0 8 0>;
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};

&clkc {
	fclk-enable = <0x3>;
	ps-clk-frequency = <33333333>;
};
